mat-form-field {
  width: 100%;
  margin-bottom: 14px;
}

mat-error {
  font-size: 10px;
  margin-top: -6px;
}

.button-close {
  margin-right: 8px;
}
.button-save {
  margin-right: 18px;
}
.modal-button {
  margin-bottom: 18px;
}
