$color-navbar: #d3d3d3;
$color-brand-primary-dark: #0a4a5b;
$color-brand-primary-medium: #00586f;
$color-brand-primary-light: #11728b;
$color-brand-background-color: #053542;
$color-brand-background-write: #ffff;

$bank-secondary: (
  50: #fff7e0,
  100: #feeab3,
  200: #fedc80,
  300: #fdce4d,
  400: #fcc426,
  500: #fcb900,
  600: #fcb200,
  700: #fbaa00,
  800: #fba200,
  900: #fa9300,
  A100: #ffffff,
  A200: #fff7ed,
  A400: #ffdfba,
  A700: #ffd3a1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bank-primary: (
  50: #f5f6f8,
  100: #e6eaed,
  200: #d5dce1,
  300: #c4cdd5,
  400: #b8c3cc,
  500: #abb8c3,
  600: #a4b1bd,
  700: #9aa8b5,
  800: #91a0ae,
  900: #8091a1,
  A100: #ffffff,
  A200: #f9fcff,
  A400: #c6e3ff,
  A700: #add7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bank-secondary: (
  50: #eefaea,
  100: #d5f3cb,
  200: #b9eca9,
  300: #9de486,
  400: #88de6c,
  500: #73d852,
  600: #6bd44b,
  700: #60ce41,
  800: #56c838,
  900: #43bf28,
  A100: #fefffd,
  A200: #d3ffca,
  A400: #a8ff97,
  A700: #92ff7e,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$bank-tertiary: (
  50: #e1eaec,
  100: #b5cbcf,
  200: #83a8b0,
  300: #518590,
  400: #2c6a78,
  500: #075060,
  600: #064958,
  700: #05404e,
  800: #043744,
  900: #022733,
  A100: #6bd2ff,
  A200: #38c2ff,
  A400: #05b3ff,
  A700: #00a3eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$bank-primary: (
  50: #ebebea,
  100: #cccccc,
  200: #aaaaaa,
  300: #888887,
  400: #6f6f6e,
  500: #555554,
  600: #4e4e4d,
  700: #444443,
  800: #3b3b3a,
  900: #2a2a29,
  A100: #f3f387,
  A200: #eeee59,
  A400: #ffff15,
  A700: #fbfb00,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
