$color-navbar: #d3d3d3;
$color-brand-primary-dark: #393b3c;
$color-brand-black: #212120;
$color-brand-background-color: #053542;
$color-brand-background-write: #ffff;

$info-primary: (
  50: #fff7e0,
  100: #feeab3,
  200: #fedc80,
  300: #fdce4d,
  400: #fcc426,
  500: #fcb900,
  600: #fcb200,
  700: #fbaa00,
  800: #fba200,
  900: #fa9300,
  A100: #ffffff,
  A200: #fff7ed,
  A400: #ffdfba,
  A700: #ffd3a1,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$info-secondary: (
  50: #f5f6f8,
  100: #e6eaed,
  200: #d5dce1,
  300: #c4cdd5,
  400: #b8c3cc,
  500: #abb8c3,
  600: #a4b1bd,
  700: #9aa8b5,
  800: #91a0ae,
  900: #8091a1,
  A100: #ffffff,
  A200: #f9fcff,
  A400: #c6e3ff,
  A700: #add7ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$info-secondary: (
  50: #fff0e0,
  100: #ffdab3,
  200: #ffc280,
  300: #ffa94d,
  400: #ff9626,
  500: #ff8400,
  600: #ff7c00,
  700: #ff7100,
  800: #ff6700,
  900: #ff5400,
  A100: #ffffff,
  A200: #fff6f2,
  A400: #ffd0bf,
  A700: #ffbea6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$info-tertiary: (
  50: #e1eaec,
  100: #b5cbcf,
  200: #83a8b0,
  300: #518590,
  400: #2c6a78,
  500: #075060,
  600: #064958,
  700: #05404e,
  800: #043744,
  900: #022733,
  A100: #6bd2ff,
  A200: #38c2ff,
  A400: #05b3ff,
  A700: #00a3eb,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);
