@import "@angular/material/theming"; //notice that the file imported is also different
@include mat-core();
@import "./variables.scss";

$primary: mat-palette($info-primary, 600, 400, 600);
$secondary: mat-palette($info-secondary, 500);
$tertiary: mat-palette($info-secondary, 500);

$bv-theme: mat-light-theme($primary, $secondary, $tertiary);

@include angular-material-theme($bv-theme);
